PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=jitterbit_challenge
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/jitterbit_challenge?schema=public"

AUTH_USERNAME=admin
AUTH_PASSWORD=123
JWT_SECRET=secret123
JWT_EXPIRES_IN=1h
